
events {}

http {

  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

    server {
        listen       80;
        server_name  ${CERTBOT_DOMAIN};  # Modified to use variable

        location / {
            return 301 https://$host$request_uri;
        }

        location /.well-known/acme-challenge/ {
            root  /var/www/html;
            try_files $uri =404;
        }

    }



}
